
*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.main-content{
    height: 800px;
    width: 100%;
    background-color: #A0D2EB;
}


.test-color{
    color: rgb(27, 51, 71);
}

.logo{
    height:100px; 
    weight:110px;
}
.brand{ 
    margin:0;
    color: #54B0D3;
    font-family:'Comic Sans MS'
}

.footer {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #395869;
 
}

.sp{
    margin-right: 50px;
}

/*--------Header--------*/
.menurow {
    list-style-type: none;
    margin: 0;
    font-family:Verdana !important; 
    overflow: hidden;
    background-color: rgb(40, 63, 81); 
    border-bottom: 1px solid pink;
 }

  ul {
    /* padding:16px; */
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-top: 25px;
  }

  li {
    color:red;
    float: left;
    font-family: verdana, arial, sans-serif;
    font-size: 17px;
  }

  li a {
    font-family:Verdana !important; 
    display:block
    text-align: center;
    padding-top: 14px;
    padding-bottom: 0px;
    text-decoration: bold;
  }

  .font{
    font-family:Verdana !important; 
  }


  li a:active {
    color: orange;
    text-decoration: underline;
  }



  /*--------Signin   Signup---------*/
  .form {
    border-radius: 5px;
    padding: 100px;
   }
    input{
        background-color:#bfbfbf;
    }

    input[type=email] {
                        
        width: 70%;
        padding: 8px 20px;
        margin: 2px 0;
        box-sizing: border-box;
        
    }
    input[type=text] {
        width: 70%;
        padding: 8px 20px;
        margin: 2px 0;
        box-sizing: border-box;
    }
    input[type=password] {
        width: 70%;
        padding: 8px 20px;
        margin: 2px 0;
        box-sizing: border-box;
    
    } 
    button[type=submit] {
        color: white;
        background-color:#1b6917;
        font-weight: bold;
        width: 12%;
        padding: 12px 10px;
        margin: 50px 0;
        box-sizing: border-box;
        border-radius: 15px;
    }
    button[type=submit]:hover, active{
        background-color:#0f4218;
        
    }
    lebel{
        font-weight: bold;
    }


 




    #message {
        display:none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
      }
      
      #message p {
        padding: 10px 35px;
        font-size: 18px;
      }
      
      /* Add a green text color and a checkmark when the requirements are right */
      .valid {
        color: green;
      }
      
      .valid:before {
        position: relative;
        left: -35px;
        content: "&#10004;";
      }
      
      /* Add a red text color and an "x" icon when the requirements are wrong */
      .invalid {
        color: red;
      }
      
      .invalid:before {
        position: relative;
        left: -35px;
        content: "&#10006;";
      }